body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
  }
  
  
  .top-section,
  .bottom-section {
        width: 100%;
        background-color: lightblue;
        padding: 20px;
        box-sizing: border-box
  }
  


  
  .center-content {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        box-sizing: border-box;
  }

  .center {
    width: 30%; /* Задайте ширину блока відповідно до ваших потреб */
    background-color: lightgreen;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
  
  .bottom-section {
    width: 100%;
        background-color: lightblue;
        padding: 20px;
        box-sizing: border-box;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
  }
  
  #list1 {
    list-style-type: none;
    padding: 0;
  }
  
  #list1 li {
    margin-bottom: 10px;
  }
  
  #Taxes {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  #Taxes th,
  #Taxes td {
    padding: 10px;
    text-align: center;
  }
  
  #Taxes th {
    background-color: #3498db;
    color: #fff;
  }
  
  .numberList {
    list-style-type: decimal;
  }
  
  .about {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .about img {
    margin-right: 20px;
  }
  
  #contacts ul {
    list-style-type: none;
    padding: 0;
  }
  
  #contacts li {
    margin-bottom: 10px;
  }
  